<% @messages.each do |message| %>
  <div>
    <%= content_tag(:p, message.content, class: 'content') %>
    <%= content_tag(:p, "Created at #{message.created_at}", class: 'timing') %>
    <% if current_page?(controller: 'messages', action: 'recent') || current_page?(messages_path) %>
      <%= content_tag(:p, "By #{message.user.username}", class: 'author') %>
    <% else %>
      <%= link_to 'Update', edit_user_message_path(@user, message) %>
      <%= link_to 'Delete', @user[message], method: :delete, data: { confirm: 'Sure?' } %>
    <% end %>
  </div>
<% end %>