<h1 class="title"><%= @user.username %></h1>
<div>
  <div class="message-box">
    <p class="content"><%= @message.content %></p>
    <%= content_tag(:p, "Last modified #{@message.updated_at.to_formatted_s(:long)}",
                    class: 'timing', data_date: "Created at #{@message.created_at.to_formatted_s(:long)}") %>
    <div class="actions">
      <% if admin? || owner?(@message) %>
        <%= link_to 'Update', edit_user_message_path(@user, @message) %>
        <%= link_to 'Delete', @user[@message], method: :delete, data: { confirm: 'Sure?' } %>
      <% end %>
      <%= link_to 'Back', user_messages_path(@user) %>
    </div>
  </div>
</div>