<h1 class="title"><%= @user.username %></h1>
<div class="message-box">
  <p><%= @message.content %></p>
  <p>Created <%= @message.created_at %></p>
  <p>Last modified <%= @message.updated_at %></p>
  <%= link_to 'Update', edit_user_message_path(@user, @message) %>
  <%= link_to 'Back', user_messages_path(@user) %>
  <%= link_to 'Delete', @user[@message], method: :delete, data: { confirm: 'Sure?' } %>
</div>