<h1>All Users</h1>
<div>
  <table>
    <tr>
    <th>User name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user_path(user) %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Update', edit_user_path(user) %>
      <%= link_to 'X', user, method: :delete, data: { confirm: 'Sure?' }, remote: true %></td>
  </tr>
  <% end %>
</table>
  <em><%= 'No users found' if @users.size == 0 %></em><br>
<%= link_to 'Create User', new_user_path %>

</div>