<h1 class="title">All Users</h1>
<div>

<%= table_for @users, table_html: { class: 'table table-hover' } do |t| %>
  <%= t.column :username, header: 'Username', link_url: lambda { |user| user_messages_path(user) } %>
  <%= t.column :first_name, header: 'First name' %>
  <%= t.column :last_name, header: 'Last name' %>
  <%= t.column :email, header: 'Email' %>
  <%= t.column data: 'Edit', link_action: :edit %>
  <%= t.column data: 'Delete', link_method: :delete, link_confirm: 'Sure?', remote: true %>
<% end %>
  <%= link_to 'Create User', new_user_path, class: 'btn btn-primary' %>
  <em><%= 'No users found' if @users.size == 0 %></em>
</div>