<h1 class="title">Reset password</h1>
<div class="field">
  <%= bootstrap_form_for(@user, url: reset_path(params[:id])) do |f| %>
    <%= f.hidden_field :email, @user.email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.primary 'Save new password' %>
  <% end %>
</div>