<!DOCTYPE html>
<html>
  <head>
    <title>Tweetsbase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Russo+One|Open+Sans|Ubuntu' rel="stylesheet">
  </head>

  <body>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-2 navbar">
        <%= image_tag('logo.png') %>
      </div>
      <div class="col-xs-9" id="content">
        <div class="header">
          <h1><b>LOREM IPSUM</b></h1>
          <i>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</i>
        </div>
        <div id="header_under"></div>
        <%= yield %>
      </div>
    </div>

  </div>


  </body>
</html>
