<!DOCTYPE html>
<html>
  <head>
    <title>Tweetsbase</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Russo+One|Open+Sans|Ubuntu' rel="stylesheet">
  </head>

  <body>


  <div>
    <div>
      <div>
        <%= image_tag('logo.png') %>
      </div>
      <div>
        <div>
          <h1><b>LOREM IPSUM</b></h1>
          <i>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor</i>
        </div>
          <%= render 'shared/errors' %>
        <%= yield %>
      </div>
    </div>

  </div>


  </body>
</html>
